#root {
    width: 100%;
    height: 100%;
    text-align: center;
}

// #region Button
.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;

	&:hover {
    	opacity: 0.8;
	}
	&.active {
		background: #3e6ae1;
    	color: #fff;
	}
    
}

.active {
    background-color: #fff;
    border: 1px solid #000;
}
// #endregion END Button

// #region TabsSection
    .container-nav-buttons {

        // flex
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
// #endregion END TabsSection

// #region ModalWindow
    dialog {
        width: 400px;
        margin: 10rem auto;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        z-index: 100;

        &::backdrop {
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
        }
    }
// #endregion END ModalWindow